<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before workshop</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>Day 1: 29th Nov</td>  <td><a href="https://swcarpentry.github.io/shell-novice/" target="_blank">The Unix Shell</a></td> </tr>
      <tr> <td>Day 2: 30th Nov</td>  <td><a href="https://swcarpentry.github.io/git-novice/" target="_blank">Version Control with Git</a></td> </tr>
      <tr> <td>Day 3: 1st Dec</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/" target="_blank">Programming with R</a></td> </tr>
      <tr> <td>Day 4: 2nd Dec</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/" target="_blank">Programming with R (continued)</a></td> </tr>
      <tr> <td>After workshop</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
