<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before workshop</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td><b>Day 1: </b>9:30am - 13:00pm</td>  <td><a href="https://swcarpentry.github.io/shell-novice/" target="_blank">The Unix Shell</a></td> </tr>
      <tr> <td><b>Day 2: </b>9:30am - 13:00pm</td>  <td><a href="https://swcarpentry.github.io/git-novice/" target="_blank">Version Control with Git</a></td> </tr>
      <tr> <td><b>Day 3: </b>9:30am - 13:00pm</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/" target="_blank">Programming with R</a></td> </tr>
      <tr> <td><b>Day 4: </b>9:30am - 13:00pm</td>  <td><a href="http://swcarpentry.github.io/r-novice-inflammation/" target="_blank">Programming with R (continued)</a></td> </tr>
      <tr> <td>After workshop</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
